<h1>Edit Figure</h1>

<form action="/figures/<%=@figure.id%>" method="post">
  Figure Name: <input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name%>"></input>
  <br/>

  Titles:
  <br/>
  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>" <%='checked' if @figure.titles.include?(title)%>><%=title.name%></input>
    <br/>
  <% end %>
  <br/>

  Add Title: <input type="text" name="title[name]" id="new_title"></input>
  <br/>

  Landmarks:
  <br/>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>" <%='checked' if @figure.landmarks.include?(landmark) %>><%=landmark.name%></input>
    <br/>
  <% end %>
  <br/>

  Add Landmark: <input type="text" name="landmark[name]" id="new_landmark"></input>
  <br/>

  <input type="submit" value="Edit Figure">

</form>
