<!DOCTYPE html>
<html>
<head>
	<title>Edit Figure</title>
</head>
<body>
	<h1>Edit Figure</h1>
	<form method="post" action="/figures/<%=@figure.id%>">
		<input type="hidden" name="_method" id="hidden" value="patch">
		<p>Figure Name: <input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name%>"></p>
		<p>Landmarks:</p>
		<p>
			<% @landmarks.each do |landmark| %>
				<input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id%>" value="<%= landmark.id%>"><%= landmark.name%></input>
			<% end %>
		</p>
		<p>and/or create a new landmark:</p>
		<p>Landmark Name: <input type="text" name="landmark[name]" id="new_landmark"></p>
		<p>Year Completed: <input type="text" name="landmark[year_completed]"></p>
		<br>
		<p>Titles:</p>
		<p>
			<% @titles.each do |title| %>
				<input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id%>" value="<%= title.id%>"><%= title.name %></input>
			<% end %>
		</p>
		<p>and/or create a new title:</p>
		<p>Title Name: <input type="text" name="title[name]" id="new_title"></p>
		<br>
		<input type="submit" id="submit" value="Edit Figure">
	</form>

</body>
</html>